<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="romsdownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <romsdownload.Properties.Settings>
      <setting name="ROMSPEDIA_BASE_URL" serializeAs="String">
        <value>https://www.romspedia.com</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_PS2" serializeAs="String">
        <value>/roms/playstation-2</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_PSX" serializeAs="String">
        <value>/roms/playstation-1</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_GB" serializeAs="String">
        <value>/roms/gameboy</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_GBA" serializeAs="String">
        <value>/roms/gameboy-advance</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_GBC" serializeAs="String">
        <value>/roms/gameboy-color</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_N64" serializeAs="String">
        <value>/roms/nintendo-64</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_SNES" serializeAs="String">
        <value>/roms/super-nintendo</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_NES" serializeAs="String">
        <value>/roms/nintendo</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_NDS" serializeAs="String">
        <value>/roms/nintendo-ds</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_WII" serializeAs="String">
        <value>/roms/nintendo-wii</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_MAME" serializeAs="String">
        <value>/roms/mame</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_PSP" serializeAs="String">
        <value>/roms/playstation-portable</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_3DS" serializeAs="String">
        <value>/roms/nintendo-3ds</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_AMIGA" serializeAs="String">
        <value>/roms/amiga</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_ATARI_2600" serializeAs="String">
        <value>/roms/atari-2600</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_ATARI_5200" serializeAs="String">
        <value>/roms/atari-5200</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_ATARI_7800" serializeAs="String">
        <value>/roms/atari-7800</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_ATARI_JAGUAR" serializeAs="String">
        <value>/roms/atari-jaguar</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_DREAMCAST" serializeAs="String">
        <value>/roms/sega-dreamcast</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_FAMICOM" serializeAs="String">
        <value>/roms/famicom</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_GAMECUBE" serializeAs="String">
        <value>/roms/nintendo-gamecube</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_GAMEGEAR" serializeAs="String">
        <value>/roms/sega-game-gear</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_MASTER_SYSTEM" serializeAs="String">
        <value>/roms/sega-master-system</value>
      </setting>
      <setting name="ROMSPEDIA_PATH_MEGA_DRIVE" serializeAs="String">
        <value>/roms/sega-genesis</value>
      </setting>
      <setting name="MemoryCacheSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="MaxDownloads" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EnableSpeedLimit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpeedLimit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="StartDownloadsOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </romsdownload.Properties.Settings>
  </userSettings>
</configuration>
